  {% extends "base.html" %}
  {% load static %}
  {% block 'title' %}Services{% endblock 'title' %}
  {% block 'content' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Services</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">
          {% for four_services in last_four_services %}
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href={% url 'services:s_details' id=four_services.id %} class="stretched-link">
                <h3>{{four_services.name}}</h3>
              </a>
              <p>{{four_services.content}}</p>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}
        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          {% for service in services %}
          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="img">
                <img src= {{service.image.url}} class="img-fluid" alt="">
              </div>
              <div class="details">
                <a href={% url 'services:s_details' id=service.id %} class="stretched-link">
                  <h3>{{service.name}}</h3>
                </a>
                <p>{{service.content}}</p>
              </div>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}
        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Pricing Section -->
    <section id="pricing" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Pricing</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-4 g-lg-0">
          {% for price in pricing %}
          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-item">
              <h3>{{price.name}}</h3>
              <h4><sup>$</sup>{{price.fee}}<span> / month</span></h4>
              <ul>
              {% for attribute in attributes %}
                {% if attribute in price.attribute.all %}
                <li><i class="bi bi-check"></i> <span>{{attribute.name}}</span></li>
                {% else %}
                <li class="na"><i class="bi bi-x"></i> <span>{{attribute.name}}</span></li>
                {% endif %}
              {% endfor %}
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->
          {% endfor %}
        </div>

      </div>

    </section><!-- /Pricing Section -->

  </main>

  {% endblock 'content' %}