  {% extends "base.html" %}
  {% load static %}
  {% block 'title' %}Prdocut-Details{% endblock 'title' %}
  {% block 'content' %}

<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Portfolio Details</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href={% url 'root:home' %}>Home</a></li>
            <li class="current">Portfolio Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src={{p_details.image_1.url}} alt="">
                </div>

                <div class="swiper-slide">
                  {% if p_details.image_2 %}
                  <img src={{p_details.image_2.url}} alt="">
                  {% endif %}
                </div>

                <div class="swiper-slide">
                  {% if p_details.image_3 %}
                  <img src={{p_details.image_3.url}} alt="">
                  {% endif %}
                </div>

                <div class="swiper-slide">
                  {% if p_details.image_4 %}
                  <img src={{p_details.image_4.url}} alt="">
                  {% endif %}
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Project information</h3>
              <ul>
                {% for category in p_details.category.all %}
                <li><strong>Category</strong>: {{category.name}},</li>
                {% endfor %}
                <li><strong>Client</strong>: {{p_details.client}}</li>
                <li><strong>Project date</strong>: {{p_details.created_at}}</li>
                <li><strong>Project URL</strong>: <a href={{p_details.product_url}}>{{p_details.product_url}}</a></li>
              </ul>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>{{p_details.name}}</h2>
              <p>
               {{p_details.content}}
              </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

{% endblock 'content' %}